<h2>Informacion del Colaborador</h2>
<table border="1"> 
    <thead>
    <tr>
        <th>Valor</th>
    </tr>
    <tr>
        <td>Nombre</td>
        <td>{{colaborador.Nombre}}</td>
    </tr>
    <tr>
        <td>Edad</td>
        <td>colaborador.Edad</td>
    </tr>
    <tr>
        <td>Direccion</td>
        <td>Colaborador.direccion</td>
    </tr>
    <tr>
        <td>Telefono</td>
        <td>colaborador.telefono</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>colaborador.email</td>
    </tr>
</thead>
</table>